@mixin clearfix {
  //b/c we'll nest it inside elements
  &::after {
    content: ""; //need to specify a content prop or elem wont appear on page
    display: table; //standard way to use clearfix
    clear: both; //critical: clears both floats, left and right
  }
}

@mixin centerAbsElem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 450px       Phone
450px - 600px   Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet landscape
[1200 - 1800] is where CSS is styled against
1800px +        Large desktops

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px; applied below
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //450px / 16 = 28.125em
    @media (max-width: 28.125em) {
      @content;
    }
  }
  @if $breakpoint == big-phone {
    //600px / 16 = 37.5em
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
