.footer {
  padding: 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.8),
    rgba($color-primary-dark, 1)
  );
  background-position: bottom;

  @include respond(tab-port) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
