.footer {
  padding: 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
