/* normalize - makes every browser render the same way but since browsers are getting better and better, no need to normalize (wipes all styles, even browser settings)
Rather, just reset to bring back to browser settings*/

*,
*::after,
*::before {
  /* universal selector */
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */ /* change box model so border and padding is not added to total height and width specified for a box */
  box-sizing: inherit;
}

html {
  /* default browser f-size is 16px, 100/16 = 62.5, making it completely dynamic */
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  //largers queries should come first
  @include respond(tab-land) {
    //width < 1200
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    //width < 900
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}
