@keyframes moveInLeft {
  0% {
    /* start of animation */
    opacity: 0;
    transform: translateX(-10rem); /* x moves right */
  }
  80% {
    transform: translateX(2rem); /* rotate(180deg) */
  }
  100% {
    /* end of animation */
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    /* start of animation */
    opacity: 0;
    transform: translateX(10rem); /* x moves right */
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    /* end of animation */
    opacity: 1;
    transform: translateX(0);
  }
}
