body {
  font-family: "Lato", sans-serif; /* putting font family here will allow all children to inherit (more efficient) */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* times bigger than previous line height */
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);

  /* fix for shaking from animation, bug no one knows y */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  @include respond(tab-land) {
    margin-bottom: 2rem;
  }

  &--main {
    /* since a span is an inline elem, you'll need to change display to change behavior*/
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1rem;

    animation-name: moveInPrimaryHeader; /* that you've specified below */
    animation-duration: 1.5s;
    animation-timing-function: ease-out; /*there are other distributions of speed */

    @include respond(big-phone) {
      font-size: 5rem;
      letter-space: 1rem;
      font-family: 4rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.6rem;
    animation: moveInBottomHeader 2s ease-out;

    @include respond(big-phone) {
      letter-space: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;

  display: inline-block;
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);

  @include respond(tab-port) {
    font-size: 3.5rem;
  }

  &--color {
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text; //background stops where text stops
    color: transparent; //takes out font color to show gradient color, which is an img
  }

  &--plain {
    color: $color-grey-light-2;
  }

  transition: all 0.4s;

  &:hover {
    text-shadow: none;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  @include respond(big-phone) {
    font-size: 1.7rem;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
