body {
  font-family: "Lato", sans-serif; /* putting font family here will allow all children to inherit (more efficient) */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* times bigger than previous line height */
  color: $color-grey-dark;
  padding: 2rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* fix for shaking from animation, bug no one knows y */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    /* since a span is an inline elem, you'll need to change display to change behavior*/
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1rem;

    animation-name: moveInLeft; /* that you've specified below */
    animation-duration: 2s;
    animation-timing-function: ease-out; /*there are other distributions of speed */

    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.6rem;

    animation: moveInRight 2s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;

  display: inline-block;

  &--color {
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text; //background stops where text stops
    color: transparent; //takes out font color to show gradient color, which is an img
  }

  &--plain {
    color: $color-grey-light-2;
  }

  transition: all 0.8s;

  &:hover {
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
