.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 5rem;
  margin-top: -30vh;
}

.section-tech-stack {
  padding: 5rem 5rem 10rem 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(https://images.unsplash.com/photo-1461632830798-3adb3034e4c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9943985ab543c6dc5300988f49545e73&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;

  margin-top: -10rem;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-project {
  background-color: $color-grey-light-1;
  padding: 25rem 5rem 10rem 5rem;
  margin-top: -20vh;
}
